*{
    padding: 0px;
   margin: 0px;
}
div{
    border: 2px black;
}
#header{
    height: 90px;
   background-color: rgb(6, 5, 4);
    text-align: center;
    font-style: bold;
}
.parent{
    background-color: rgb(234, 89, 6);
    height: 600px;
}
.child{
    height:600px;
    width:100px;
    background-color: rgb(67, 69, 69);
    display:inline-block;
   
    text-align: center;
}
.child2{
    height:590px;
    width:92%;
    background-color: rgb(234, 244, 244);
    display:inline-block;
    
    text-align: center;

}
#footer{
    height: 90px;
   background-color: rgb(2, 2, 2);
    text-align: center;
    font-style: bold;

}
